---
import HeaderLink from "./HeaderLink.astro";
const routes = [
	{
		href: "/",
		label: "Portfolio",
	},
	{
		href: "/about",
		label: "About",
	},
];
---

<header class="border-gradient sticky top-0 z-10">
	<nav class="p-4 flex gap-8 max-w-screen-lg mx-auto lg:justify-center">
		{
			routes.map(({ href, label }, index) => (
				<HeaderLink href={href} label={label} />
			))
		}
	</nav>
</header>

<style>
	header {
		background-image: radial-gradient(transparent 1px, var(--bg-color) 1px);
		background-size: 4px 4px;
	}

	header::after {
		background-image: radial-gradient(transparent 4px, var(--bg-color) 4px);
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpi+P//PwMIA8FNJgYkwAgSgXEAAgwA8BoHsEna1aoAAAAASUVORK5CYII=);
		background-size: 0.325rem;
		background-repeat: repeat;
		background-position: bottom;
		background-color: rgba(0, 0, 0, 80%);
		backdrop-filter: saturate(50%) blur(0.5rem) brightness(80%);
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	#bg {
	}
</style>
