---
import HeaderLink from "./HeaderLink.astro";
const routes = [
	{
		href: "/",
		label: "Portfolio",
	},
	{
		href: "/about",
		label: "About",
	},
];
---

<header class="border-gradient sticky top-0 z-10">
	<nav class="p-4 flex gap-8 max-w-screen-lg mx-auto lg:justify-center">
		{
			routes.map(({ href, label }, index) => (
				<HeaderLink href={href} label={label} />
			))
		}
	</nav>
</header>

<style>
	header {
	}

	header::after {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpi+P//PwMIA8FNJgYkwAgSgXEAAgwA8BoHsEna1aoAAAAASUVORK5CYII=);

		background-size: 0.25rem;
		background-repeat: repeat;
		background-position: bottom;
		backdrop-filter: blur(0.5rem) brightness(20%);

		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
	}

	#bg {
	}
</style>
