---
import HeaderLink from "./HeaderLink.astro";
const routes = [
	{
		href: "/",
		label: "Portfolio",
	},
	{
		href: "/about",
		label: "About",
	},
];
---

<header class="border-gradient sticky top-0 z-10 bg-black/80 backdrop-blur-lg">
	<nav class="p-4 flex gap-8 max-w-screen-lg mx-auto lg:justify-center">
		{
			routes.map(({ href, label }, index) => (
				<HeaderLink href={href} label={label} />
			))
		}
	</nav>
</header>
