---
import HeroImage from "../components/landing-page/HeroImage.astro";
import LandingPageLayout from "../layouts/landing-page.layout.astro";
---

<LandingPageLayout>
	<main class="p-4 grid gap-8 py-16">
		<h1 class="text-4xl">I'm TallestLegacy</h1>

		<div class="flex flex-col lg:flex-row-reverse gap-8">
			<HeroImage
				className="rounded-xl w-full h-fit  sm:max-w-[400px]  md:max-w-[400px]]"
			/>
			<div class="flex-1 flex flex-col gap-8 text-white/60">
				<p>
				Hi, I'm a programming polyglot
        <br>
        I'm a Computer Scientist, interested in full-stack application development. I have a ton of experience with various frontend frameworks and libraries, I've built backends in Go(majority), Node, Java and Python and used serverless functions in JS meta-frameworks, and mobile apps using Flutter, React Native, NativeScript and Kotlin
        <br>
        I love building stuff, and I'm constantly looking for an excuse to learn new tech.	
				</p>
			</div>
		</div>

		<hr />

		<div class="flex items-center justify-center gap-8 font-mono text-white">
			<iconify-icon icon="logos:archlinux" class="text-8xl"></iconify-icon>
			<h1 class="4xl">I use Arch BTW</h1>
		</div>
	</main>
</LandingPageLayout>
