---

---

<main>
	<h1>iam:TallestLegacy</h1>
</main>

<style>
	html,
	body {
		all: unset;
	}

	main {
		display: flex;
		background-color: black;
		color: white;
		justify-content: center;
		align-items: center;
		font-family: monospace;
		height: 100vh;
	}
</style>
