---
import HeroImage from "../components/landing-page/HeroImage.astro";
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
import Experience from "../components/landing-page/Experience.astro";
---

<LandingPageLayout>
	<main class="bg-black">
		<div class="flex flex-col justify-center items-center gap-16 h-[80vh]">
			<HeroImage className="w-[300px] rounded-full" />
			<h1 class="font-mono font-black text-3xl">
				{"{"}iam:<a
					href="https://gitihub/tallestlegacy"
					class="text-transparent bg-clip-text bg-gradient-to-r from-[hotpink] to-[magenta] hover:underline"
					>TallestLegacy</a
				>{"}"}
			</h1>
		</div>

		<!-- Experience -->
		<Experience />
	</main>
</LandingPageLayout>
