body {
	font-family: 'Geist', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Geist', sans-serif;
	font-weight: 900;
}

h1 {
	font-size: clamp(2rem, 10vw, 4rem);
}

h2 {
	font-size: clamp(1.5rem, 10vw, 3rem);
}

h3 {
	font-size: clamp(1.25rem, 10vw, 2.5rem);
}

h4 {
	font-size: clamp(1rem, 10vw, 2rem);
}

h5 {
	font-size: clamp(0.875rem, 10vw, 1.75rem);
}

h6 {
	font-size: clamp(0.75rem, 10vw, 1.5rem);
}

p {
	font-size: 0.875rem;
}
