---
import "iconify-icon";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TallestLegacy</title>
		<ViewTransitions />
	</head>
	<body class="bg-black text-white text-mono">
		<slot />
		<style is:global>
			@font-face {
				font-family: "CascadiaCode";
				src: url(/public/fonts/CascadiaCode.woff2);
			}
			@font-face {
				font-family: "Inter";
				src: url(/public/fonts/Inter-VariableFont_slnt\,wght.ttf);
			}
		</style>
	</body>
</html>
